/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/img/bdag_bg.png");
    background-size: 100% auto; /* Stretch the background image to 100% of the container's width */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center top; /* Align the background image at the center top */
    background-color:#000;
    color:#fff;
  }

a {
    color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center flex items horizontally */
}

.main-content {
  max-width: 800px;
  flex: 1 0 auto;
}

.right-column {
  flex: 0 1 300px; /* Adjust this value to change the width of the right column */
  margin: 50px 0  0 20px; /* Spacing between columns */
}

@media (max-width: 768px) { /* Adjust this value based on when you want to stack the columns */
  .flex-container {
      flex-direction: column;
  }

  .main-content, .right-column {
      flex: none;
  }
}

.right-column li {
  font-size: 0.8em; /* Adjust this value to change the size of the list items */
  margin-bottom: 10px; /* Adjust this value to change the spacing between list items */
}

/* Style the navigation bar */
nav {
  display: flex;
  justify-content: space-between; /* Aligns items horizontally and distributes space */
  align-items: center; /* Vertically aligns items in the center */
  padding: 10px 20px; /* Adds padding around the navigation */
  background-color: #1a221c; /* Sets a background color */
  border-bottom: 2px solid #333; /* Adds a border at the bottom */
}

/* Style the links in the navigation */
nav a {
  color: #fff; /* Sets the text color */
  text-decoration: none; /* Removes underline from the links */
  margin: 0 15px; /* Adds margin to the left and right of each link */
  font-size: 18px; /* Sets the font size */
}

/* Adds a hover effect to the links */
nav a:hover {
  color: #216914; /* Changes text color on hover */
  text-decoration: underline; /* Adds underline on hover */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  nav {
    flex-direction: column; /* Stacks the items vertically */
    align-items: flex-start; /* Aligns items to the start */
  }
  nav a {
    margin: 5px 0; /* Adjusts margin for vertical layout */
  }
}

  /* Style the header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  header img {
    margin-right: 10px;
  }
  
  header h1, header p {
    margin: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px #000;
  }
  
  /* Style the main content */
  main {
    margin: 0 auto;
    padding: 20px;
  }

  main h1 {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
    background-color: black;
    color: white; /* Ensures text is readable on the black background */
    padding: 10px 20px; /* Adds some space around the text */
    border-radius: 5px; /* Optional: rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow for a 3D effect */
    text-align: center; /* Centers the text */
    width: fit-content; /* Adjusts the width to fit the content */
    margin: 20px auto; /* Centers the element in the main container */
  }
  
  
  main h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Style the footer */
  footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }

  section {
    margin: 30px 0;
    border: 2px solid #333; /* Closer to black */
    border-radius: 10px; /* Rounded border */
    background-color: #1a221c; /* Fill color */
    padding: 20px; /* Padding */
}

  .build-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.large-build-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #216914;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none; /* Removes underline from the link */
    margin-left: 20px; /* Spacing between image and button */
}

/* Optional: Add a hover effect */
.large-build-button:hover {
    background-color: #0056b3;
}

.main-content ul li {
  margin-bottom: 10px; /* Adjusts the space between list items */
  font-weight: normal;
}

.main-content ul li strong {
  font-weight: bold; /* Makes the titles bold */
}


